<% title "Reservas" %>

<p><%= link_to "Nova reserva", new_reserve_path %></p>

<table class="index">
  <tr>
    <th>Quadra</th>
    <th>Dia</th>
    <th>Horário</th>
    <th>Confirmado</th>
	<th>Opções</th>
  </tr>
  <% for reserve in @reserves %>
    <tr>
      <td><%=h reserve.court_name %></td>
      <td><%=h reserve.reserved_at %></td>
      <td><%=h reserve.reserve_time %></td>
      <td><%= reserve.confirmed ? 'Sim': 'Não' %></td>
			<% unless reserve.confirmed %>
	  		<td class="actions"><%= link_to "Confirmar reserva", new_confirmation_path(:reserve_id => reserve.id) %></td>
			<% else %>
	  		<td class="actions"><%= link_to "Cancelar reserva", confirmation_path(reserve.confirmation), :method => :delete, :confirm => "Ao cancelar esta reserva você receberá #{reserve.confirmation.extra_credits} créditos para utilizar em reservas futuras\nTem certeza que deseja cancelar esta reserva?" %></td>
			<% end -%>
  <% end %>
</table>
			

