<% title "Fale Conosco" %>

<% form_for @contact do |f| -%>
  <p>
		<%= f.label :name, "Nome" %><br />
		<%= f.text_field :name %>
	</p>
	<p>	
		<%= f.label :email, "Email" %><br />
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :message, "Mensagem" %><br />
		<%= f.text_area :message, :rows => 8, :cols => 50 %>
	</p>	
	<p><%= submit_tag "Enviar", :disabled_with => 'Enviando...' %></p>
<% end -%>

<% content_for :jsplace do -%>
	<%= javascript_tag "Form.focusFirstElement('new_contact')" %>
<% end -%>
