<% title "Confirmação de reserva" %>

<p>Escolha a forma de pagamento</p>

<h2><%= number_to_currency(@reserve.court_value) %></h2>

<% form_for @confirmation do |f| -%>
	<%= f.error_messages %>
	<%= hidden_field_tag :reserve_id,  @reserve.id %>
	<%= radio_button_tag :payment_type, :card, !@have_credit %>Cartão<br />
	<%= radio_button_tag :payment_type, :credits, @have_credit, :disabled => !@have_credit %>Créditos <small><%= user_credits(@reserve) %></small>
 	<br> 	
  <div id="card-information" style="<%= @have_credit ? 'display:none;' : '' %>">
		<p>
		  Informe o número do Seu cartão de crédito:<br />
		  <%= text_field_tag :card_number, nil, :size => 17, :maxlength => 16, :class => 'credit-card-box'  %>
			<%= text_field_tag :card_digits, nil, :size => 4, :maxlength => 3, :class => 'credit-card-box' %>
		</p>
	</div>
	<%= submit_tag 'Confirmar reserva' %>
	
<% end -%>

<% content_for :jsplace do -%>
	<%= observe_form :new_confirmation, :function => "if ( $('payment_type_card').checked ) { $('card-information').show(); } else { $('card-information').hide(); }" %>
<% end -%>
